@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(154, 176, 182);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 155, 161);
}
